<p>Hello Matey,</p>
<p>Your recovery code is: <strong><%= @recovery_code %></strong></p>
<p>Please return to the game and enter this code along with your new password.</p>
<p>Happy Adventuring,</p>
<p>The Pretty Pirate Crew</p>
